nav {
  background: transparent;
}

nav a {
  color: #fff !important;
}

@media (max-width: 768px) {
  nav {
    background: green;
  }
}

.mr-auto,
.mx-auto {
  margin-right: auto !important;
}

ul.nav-pills li.active {
  background: transparent !important;
  border-bottom: solid 2px var(--dark-green);
  border-radius: 0 !important;
}

