/*GOOGLE FONT LINK: */

@import url('https://fonts.googleapis.com/css?family=Play|Playball&display=swap');


/*
 CSS VARIBALES OR CUSTOM PROPERTIES
*/

:root {
  --dark-green: #3da80c;
 --v-light-green: #3da80c4a;
  --light-opacity: .5;
  --semi-light-opacity: .6;
  --dark-color: #222;
  --semi-dark-color: #333;
  --dark-opacity: .3;
  --yellow: #ffe600;
  --light-grey: #bfbfbf;
  --grey: #d8e5de;
  --icon-grey-color: #515151;
  --green: #def7d0;
  --light-green: #b8d1bc;
   --semi-light-green: #3da80c;
   --light-green-stars-color: #3AD456;
   --semi-light-green-stars-color: #93E9A2;
   --light-bg-btn: #cccccc8c;
}

/*

<!------------------------------------ --------------------------------------------!>

NAV BAR STYLING RULES 

*/

nav {
 background: var(--dark-green);

}

@media(max-width: 768px) {
  nav .d-small-none {
  display: none !important;
}
}


.nav__item--scrolled {
    padding: 1.5rem 2rem;
    color: rgba(0, 0, 0, 0.85);
}


nav a {
  color: #333 ;
}

.nav--scrolled {
    background-color: white;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}


.nav_custom  .search-bar {
  height: 44px;
  width: 200px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding: 0 0 0 20px;
  position: relative;
  background: #fff;
}

.nav_custom  .input {
  border: none;
  height: 25px;
  width: 150px;
  color: #1b1b1b;
  font-size: 15px;
  outline: none;
  background: #cccccc87;
  padding: 20px 0;
}

.nav_custom  .input:not(:placeholder-shown) + .label {
  font-size: 9px;
  top: 3px;
  color: #00c853;
}

.nav_custom  .input:focus ~ .label {
  font-size: 9px;
  top: 3px;
  color: #4279a3;
  transition: all 0.5s ease;
}

.nav_custom  .label {
  color: #aaaaaa;
  position: absolute;
  top: 13px;
  pointer-events: none;
  transition: all 0.5s ease;
  left: 31px;
}

.nav_custom  .search-btn {
  background: #4279a3;
  border-radius: 20px;
  height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  justify-content: center;
  cursor: pointer;
  right: 2px;
  position: absolute;
  transition: all 1s ease;
}

.nav_custom  .icon {
  display: inline-flex;
}

.nav_custom  .icon-18 {
  width: 18px;
  height: 18px;
}

.nav_custom  .highlight {
  width: 0px;
  height: 1px;
  background: #4279a3;
  position: absolute;
  bottom: 1px;
  transition: all 1s ease;
}

.nav_custom .input:focus ~ .highlight {
  width: 150px;
  transition: all 1s ease;
}




input:focus,
input:active,
input:hover {
  outline: none !important;
}

.section_6,
.section_2,
.section_3,
.section_4,
.section_5,
.section_7 {
  margin: 50px 0 50px 0px; 
}







/*
  STYLING RULES FOR OVERDING BOOTSTRAP DEFAULT INDICATORS IN SLIDER STARTS HERE
*/


ol.carousel-indicators {
   position: absolute;
   bottom: -60px;
   margin: 0;
   left: 0;
   right: 0;
   width: auto;
}

ol.carousel-indicators li,
ol.carousel-indicators li.active {
   width: 1rem;
   height: 1rem;
   margin: 0;
   border-radius: 50%;
   border: 0;
   background: #ccc;
}

ol.carousel-indicators li {
   background: #ccc;
   margin-left: .5rem;
   margin-right: .5rem;
}

ol.carousel-indicators li.active {
   background: yellow;
}

/*
  STYLING RULES FOR OVERDING BOOTSTRAP DEFAULT INDICATORS IN SLIDER ENDS HERE
*/


.owl-dots button span {
    background: var(--dark-green) !important;
    width: 10px;
    height: 10px;
}

 a {
  text-decoration: none;
  color: #fff !important;
  text-transform: capitalize;
  opacity: .8;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}


html, body {
  font-family: 'Play', 'cursive' !important;
  width: 100% !important;
  height: 100% !important;
  overflow-x: hidden

}

a {
  text-decoration: none !important;
}

.custom_transparent_btn {
  background: transparent !important;
}


.rounded_img {
  border-radius: 50%;
}

.custom_semi_transparent_btn {
  background: var(--dark-color);
  opacity: var(--dark-opacity);
}

.custom_green_btn {
  background-color: var(--dark-green);
}

/*
  HoME PAGE STYLING RULES START FROM HERE
*/

.custom_green_nav {
  background: var(--dark-green);
}

.custom_nav li.active_item {
  position: relative;

}

.custom_nav li.active_item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #000;
  opacity: var(--dark-opacity);
  border-radius: 0;
  left: 0;
  bottom: -8px;
}

.section_1 {
  background-color: var(--v-light-green);
  width: 100vw;
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.section_1 video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.section_1 .wrapper .headings {
  position: absolute;
  top: 20%;
  left: 30%;
  color: #fff;

}

.section_1 .wrapper .icon {
  position: absolute;
  top: 35%;
  left: 55%;
}

.section_1 .wrapper .icon  i {
  cursor: pointer;
  color: var(--light-grey);
  opacity: var(--light-opacity);
}

.section_1 .button  {
  position: absolute;
  top: 65%;
  left: 50%;
}

.section_1 .button .custom_semi_transparent_btn {
  background: var(--dark-color);
  display: inline-block;
  padding: 10px 50px;
  text-decoration: none;
  color: #fff !important;
  opacity: var(--light-opacity);
  border-radius: 30px;
  transition: opacity .3s linear;
}

.section_1 .button .custom_semi_transparent_btn:hover {
  opacity: 1;
}



.section_2 {
  margin: 20px 0;
}

.section_2 .service_inner_content {
  border: solid 1px #ccc;
  border-top: none;
}

.section_2 .service_container {
  background: #bfbfbf75;
  margin: 20px 10px;
}

.section_2 .service_container {
   transition: transform .3s ease-in-out;
}

.section_2 .service_container .service_img {
  position: relative;
  height: 200px;
}

.section_2 .service_container:hover {
  transform: scale(1.1);
}

.section_2 .service_1 .service_img::before {
  content: "";
  width: 1px;
  height: auto;
  top: 10px;
  right: 0px;
  left: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(1, 0);
  transform-origin: bottom;
  background: #fff;
  z-index: 1;
  position: absolute;
  transition: .4s linear all;
}


.section_2 .service_1 .service_contents {
  /*position: relative;*/

}

.section_2 .service_1 .outline {
  width: 100%;
  height:  100%;
  position: relative; 
}



.section_2 .service_1 .outline::before {
  content: "";
  top: 10px;
  right: 0px;
  left: 10px;
  bottom: 10px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: scale(1, 0);
  transform-origin: bottom;
  background: #fff;
  z-index: 1;
  position: absolute;
  transition: .4s linear all;
}

.section_2 .service_1 .outline:hover::before {
  transform: scale(1.05, 1);
}


.section_2 .service_1 .outline::after {
  content: "";
  top: 10px;
  right: 10px;
  left: 10px;
  bottom: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  transform: scale(0, 1);
  transform-origin: center;
  background: #fff;
  z-index: 2;
  position: absolute;
  transition: .4s linear all;
}

.section_2 .service_1 .outline:hover::after {
    transform: scale(1, 1.05);
}


.section_2 .service_1 .service_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url("../images/child_care.jpeg") no-repeat center center/cover;
}


.section_2 .service_2 .service_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url("../images/handyman.jpg") no-repeat center center/cover;
}

.section_2 .service_3 .service_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url("../images/cleaner.jpeg") no-repeat center center/cover;
}

.section_2 .service_4 .service_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url("../images/mentor.jpeg") no-repeat center center/cover;
}

.section_2 .service_5 .service_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url("../images/senior_care.jpeg") no-repeat center center/cover;
}

.section_2 .service_6 .service_img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .4)), url("../images/home_service.jpeg") no-repeat center center/cover;
}




.section_2 h1 {
  color: var(--dark-color);
  font-size: 45px;
  font-weight: 700;
  opacity: var(--semi-light-opacity);
}

.section_2 .sr {
  background: var(--grey);
}

.section_2 .sr .btn_custom_green {
  background-color: var(--semi-light-green);
}

.section_2 .sr h4{
  color: var(--dark-opacity);
  opacity: var(--semi-light-opacity);
}



.section_3 {
  background: var(--dark-green);
  padding: 40px 30px;
}



.section_3 .bg_white {
  background: #e8e0e04a;
  margin: 0;
}

.section_3 .custom_padding {
   padding: 50px 0 !important; 
}

.section_3 .custom_container {
    max-width: 1319px;
    margin: auto;
}




.section_3 .custom_semi_transparent_btn {
  transition: opacity .2s linear;
  width: 175px;
  margin: 0 auto;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 2px;
}

.section_3 .custom_semi_transparent_btn:hover {
  opacity: var(--light-opacity);
  color: #fff;
  text-decoration: none;
}

.section_3 .icons {
  display: flex;
  justify-content: space-between;
  width: 120px;
}

.section_3 .bg_yellow {
  background: var(--yellow);
  border-radius: 50%;
  padding: 5px;
}

.section_3 .bg_grey {
  background: var(--light-grey);
  border-radius: 50%;
  padding: 5px;
}

.section_3 .icons span {
   display: flex;
  align-items: center;
  margin: 0 2px;
} 

.section_3 .icons span i {
  font-size: 12px;
}


.section_4 {
  margin-bottom: 120px;
  width: 100%;
 
}



.section_4 h1 {
  color: var(--dark-color);
  font-size: 45px;
  font-weight: 700;
  opacity: var(--semi-light-opacity);
  margin-bottom: 40px;
}



.section_4 .box {
  background: var(--dark-green);
  border-top-right-radius: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 0px;
  padding: 20px 0;
}

.section_4 .box span {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.section_4 .box a.custom_transparent_btn {
     border: solid 1px #333;
    border-radius
    padding: 2px 20px;: 20px;
   text-decoration: none;
}

 
.section_5 {
  background-color: var(--dark-green);
  padding: 40px 30px;
}

.section_5 h2 {
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;
}

.section_5 h1 {
  color: var(--dark-color);
  opacity: var(--light-opacity);
}


.section_5 .box {
  background: var(--dark-green);
  border-radius: 0;
}

.section_5 .box span {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.section_5 h3 {
  font-weight: normal;
  color: var(--dark-color);
  opacity: var(--light-opacity);
}

.section_5 .custom_semi_transparent_btn {
  padding: 10px 50px;
  border-radius: 20px;
  color: #fff;
  text-decoration: none;
  transition: opacity .3s linear;
}

.section_5 .custom_semi_transparent_btn:hover {
  opacity: 1;
}



.section_6 h1 {
  margin-bottom: 40px;
  color: var(--dark-color);
  opacity: var(--light-opacity);
}


.section_6 .gaint_box {
  background: var(--light-green);
  height: 400px;
  max-width: 800px;
  margin: 10px auto;
  background: var(--dark-color);
  opacity: var(--light-opacity);
  position: relative;
  overflow: hidden;
}

.section_6 i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}



.section_6 .gaint_box  video {
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  position: absolute;
  object-fit: cover;
}


/*
  USER PROFILE 
*/

.user_profile_container {
  background: #bfbfbf75;
  max-width: 350px;
  margin: 40px auto;
  position: relative;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}


.user_profile_container::before {
  content: "";
  height: 300px;
  width: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(rgba(18, 170, 219, 0), rgb(0, 20, 255)), url(../images/boy.jpeg) center -118px/cover,url(../images/boy.jpeg) center -118px/cover;
  margin-bottom: 20px;
}

.user_profile_container .top_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
}

.user_profile_container .top_content .bars span {
  background: #fff;
  height: 2px;
  display: block;
  margin: 5px 0;
}

.user_profile_container h5 {
  margin-top: 115px;
}

.user_profile_container .plus {
  background: #F81767;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -35%);
}

.user_profile_details_container  {
  background: #fff;
  padding: 40px 5px;

}

.user_profile_details_container .socail_details {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user_profile_details_container .socail_details .tweets,
.user_profile_details_container .socail_details  .following,
.user_profile_details_container .socail_details  .followers {
  background: #fff;
  padding: 10px 20px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.user_profile_details_container .socail_details .tweets
 {
  border-right: 1px solid #ccc;
}

.user_profile_details_container .socail_details  .following {
  border-right: 1px solid #ccc;
}


.user_profile_container .top_content .bars span:nth-child(1) {
  width: 40px;
}

.user_profile_container .top_content .bars span:nth-child(2) {
  width: 25px;
}

.user_profile_container .top_content .bars span:nth-child(3) {
  width: 30px;
}

.user_profile_container .top_content .heart {
  animation: heart_beating .4s linear infinite;
}

@keyframes heart_beating {
  to {
     color: #fff;
  }

  from {
    color: #F57E20;
  }
}



/*
  SIGNUP / SIGNIN PAGE
*/

.content_wrapper {
  max-width: 800px;
  margin: 20px auto 20px auto;
  height: auto;
  box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.31);
}

.content_wrapper .inner_content  {
  display: grid;
  height: 100%;
  grid-template-columns: 2fr 1.5fr;
}

.content_wrapper .inner_content .left_content label {
  display: block;
  margin: -11px 0;
}


.content_wrapper .inner_content .left_content {
  background: #fff;
  padding: 30px 15px;
  height: 100%;
}

.content_wrapper .inner_content .left_content ul {
  padding: 0 40px;
}


.content_wrapper .inner_content .left_content form{
   width: 100%;
   padding: 5px 40px;
   height: 100%;
}

.content_wrapper .inner_content .left_content .form_container {
  margin: 50px 0;
}

.content_wrapper .inner_content .left_content .form_container input[type="text"].input_element,
.content_wrapper .inner_content .left_content .form_container input[type="email"].input_element,
.content_wrapper .inner_content .left_content .form_container input[type="password"].input_element {
  width: 100%;
  border: none;
  border-bottom: solid 2px #ccc;
  margin: 10px 0 25px 0;
  background: transparent;
}

.content_wrapper .inner_content .left_content .form_container input[type="text"].input_element:focus,
.content_wrapper .inner_content .left_content .form_container input[type="email"].input_element:focus,
.content_wrapper .inner_content .left_content .form_container input[type="password"].input_element:focus {
  border-bottom: solid 2px var(--dark-green);
}

.content_wrapper .inner_content .left_content .form_container .submit_btn {
  background: var(--semi-light-green);
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: none;
  
}

.content_wrapper .inner_content .left_content .form_container .rounded {
  border-radius: 20px !important;
}

.content_wrapper .inner_content .right_content{
    background: linear-gradient(rgba(93, 26, 26, 0.5), rgba(255, 0, 0, 0.26)), url(../images/left_image.jpeg) no-repeat center center/cover;
    height: 607px;
}




/*USER PROFILE 2*/

.user_img {
  width: 100%;
  overflow: hidden;
}

.work_part,
.rand_work  {
  margin: 20px 0;
  
}

.rand_work h4,
.rand_work h6 {
  font-weight: 400;
}


.rand_work .light_bg_btn {
  background: var(--light-bg-btn);
}

.rand_work .top_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}



.rand_work .rounded {
  border-radius: 30px !important;
}

.work_part h5 {
  margin-right: 10px;
}

.work_part hr
 {
  flex: 1;
  height: 1px;
  background: #ccc;
}

.rand_work {
  justify-content: space-between;
}


.right_profile_content  hr {
  background: #ccc;
  width: 100%;
  height: 1px;
}

.right_profile_content .services .custom_grid  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  margin: 20px 0 50px 0;
} 

/*.right_profile_content .services .bottom_content {
  display: flex;
  align-items: center;
  justify-content: space-around;
}*/



.right_profile_content .comments hr {
  background: #ccc;
  height: 1px;
}

.right_profile_content  .light_star {
  color: var(--light-green-stars-color);
  margin: 0 2px;
}

.right_profile_content  .semi_light_star {
  color: var(--semi-light-green-stars-color);
   margin: 0 2px;
}

.right_profile_content .services .review_section a {
  background: var(--dark-green); 
  margin-left: 97px;
  margin-top: 40px;
}

.right_profile_content .user_personal_details {
  display: flex;
  flex-direction: column;
}

.right_profile_content .user_personal_details .small_font {
  font-size: 110%;
}

.right_profile_content a.active,
.content_wrapper .left_content  a.active {
  background: transparent !important;
  border-bottom: solid 2px var(--dark-green);
  border-radius: 0 !important;
}


.right_profile_content .user_personal_details > div {
  display: flex;
  align-items: center;
}



.right_profile_content .services  .review_section  .rounded {
  border-radius: 30px !important;
}

.custom_grid .one{
  padding: 0 0 15px;
}



/* 
  BOOKING WEBPAGE
*/


/* 
Created on: 17 Sep, 2014, 4:29:37 PM
Author: senthil
*/

.ti_tx,
.mi_tx,
.mer_tx {
  width: 100%;
  text-align: center;
  margin: 10px 0;
}

.time,
.mins,
.meridian {
  width: 60px;
  float: left;
  margin: 0 10px;
  font-size: 20px;
  color: #2d2e2e;
  font-family: arial;
  font-weight: 700;

}

.ti_tx input {
  border: solid 1px #ccc;
}

.prev,
.next {
  cursor: pointer;
  padding: 18px;
  width: 28%;
  border: 1px solid #ccc;
  margin: auto;
  background: url(../images/arrow.png) no-repeat;
  border-radius: 5px;
}

.prev:hover,
.next:hover {
  background-color: #ccc;
}

.next {
  background-position: 50% 150%;
}

.prev {
  background-position: 50% -50%;
}

.time_pick {
  position: relative;
  width: 100%;

}

.timepicker_wrap {
  padding: 10px;
  border-radius: 5px;
  z-index: 998;
  display: none;
  box-shadow: 2px 2px 5px 0 rgba(50,50,50,0.35);
  background: #f6f6f6;
  border: 1px solid #ccc;
  float: left;
  position: absolute;
  top: 27px;
  /* left:254px !important; */
  margin-left: 346px;
  width: 200px;
}

.arrow_top {
  position: absolute;
  top: -10px;
  left: 20px;
  background: url(../images/top_arr.png) no-repeat;
  width: 18px;
  height: 10px;
  z-index: 999;
}
input.timepicki-input {
  background: none repeat scroll 0 0 #FFFFFF;
      border: 1px solid #CCCCCC;
      border-radius: 5px 5px 5px 5px;
      float: none;
      margin: 0;
      text-align: center;
      width: 70%;
      
}

.timepicker_wrap {
    box-shadow: none !important;
}

.time::before {
    display: block;
    content: "Hours";
    margin-bottom: 10px;
    font-size: 1rem;


}

.mins::before {
    display: block;
    content: "Minutes";
    margin-bottom: 10px;
    font-size: 1rem;
}

.time::after {
    content: ":";
    color: #333;
    font-weight: bolder;
    content: ":";
    color: #333;
    font-weight: bolder;
    position: absolute;
    top: 108px;
    left: 95px;
}



.meridian {
    display: none;
}

a.reset_time {
  float: left;
  margin-top: 5px;
  color: #000;
}



.booking_webpage .top_col_first input,
.booking_webpage .top_col_snd select,
.booking_webpage .top_col_snd input{
  background: transparent;
  border: none;
  border-bottom: solid 2px #333;
}

.booking_webpage .top_col_first input,
.booking_webpage .top_col_snd input {
  width: 100%;
  margin: 10px;
   border-bottom: solid 2px #ccc;
}

.booking_webpage {
  background: #fff;
  margin: 50px 0;
}

.booking_webpage .first_col{

}

.booking_webpage .rounded {
  border-radius: 30px !important;
}

.booking_webpage a.custom_green_btn {
  padding-left: 40px;
  padding-right: 40px;
  display: inline-block;
}

.booking_webpage .first_col form label {
  display: block;
  margin: 20px 0;
}

.booking_webpage .first_col form input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: solid 2px #ccc;
  background: transparent;
  padding: 10px 0;
  color: #333;
}



.booking_webpage .snd_col ul li {
  display: block;
  margin: 20px 0;
}

/* 
  404 page
*/

.container_wrapper {
  background: var(--dark-green);
  min-height: 500px;
  margin: 20px auto;
  max-width: 800px;
}

.container_wrapper .outer_container {
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("../images/leaves.jpeg") no-repeat center center/cover;
  height: 500px;
  width: 100%;
}


/*
  FOOTER STYLINGS
*/

footer {
  background: var(--dark-color);
  display: grid !important;
  grid-template-columns: repeat(12, 1fr);
  padding: 30px 30px;
  grid-column-gap: 40px;
}

footer a {
  text-decoration: none !important;
}

footer div > * {
  display: block;
}

footer div:nth-child(1) {
  grid-column: 2/4;
}

footer div:nth-child(2) {
  grid-column: 4/6;
}

footer div:nth-child(3) {
  grid-column: 7/9;
}

footer div:nth-child(4) {
  grid-column: 10/12;
}

@media(max-width: 1200px) {
  .rand_work .top_bar h4 {
    font-size: 1rem;
  }

   .section_3 .custom_col {
  max-width: 42.333333% !important;
}

.section_3 .custom_col .inner_custom_col {
  max-width: 101.666667%;
}

 .right_profile_content .services .review_section a {
    margin: 10px auto;
    width: 150px;
  }
}

@media(max-width: 1195px){
  .section_3 .custom_container .row {
    flex-wrap: wrap;
  }

    .section_3 .custom_container .row > .col-md-4 .row  {
        flex-direction: column !important;
  }
  .section_2   .row.justify-content-around{
    justify-content: center !important;
  }
  .section_2 > .row .col-md-3 {
    flex: 3;
  }
   .section_2 > .row .col-md-3 + .col-md-3 {
    flex: 2;
  }

  footer div:nth-child(1) {
  grid-column: 2/6;
  grid-row: 1/2;
}

footer div:nth-child(2) {
  grid-column: 8/-1;
  grid-row: 1/2;
}

footer div:nth-child(3) {
  grid-column: 2/6;
}

footer div:nth-child(4) {
    grid-column: 8/-1;
  }
}

@media(max-width: 992px) {
.right_profile_content .services .custom_grid  {
    grid-template-columns: 1fr;
   
  }
 
}

 
@media(max-width: 778px) {

 .content_wrapper .inner_content .right_content {
    display: none
  }


  .sr {
    padding: 0;
  }

.section_4 .carousel-item > div.row {
  flex-wrap: nowrap;
  overflow: hidden;
}

.section_4 .carousel-item .custom_col {
  width: 100%;
 
}

.section_4 .carousel-item:nth-child(1) > .custom_col {
    margin-right: 384px;
    width: 200%;
}


.content_wrapper .inner_content  .left_content {
  margin-top: 500px;
  height: 600px;
}





.right_profile_content .services .review_section a {
    background: var(--dark-green); 
    margin-left: 0;
 }

   .sign_login_container {
     grid-template-columns: 1fr;
   }

    .sign_login_container .left_side {
      width: 100%;
    }

  .sign_login_container .right_side {
      display: none;
  }
  .section_1 .icon {
    top: 25% !important;
    left: 65% !important;
  }
  .section_1 .button {
    left: 30%;
  }
  .section_1 .custom_semi_transparent_btn{
    border-radius: 30px;
    text-decoration: none;
  }

  .section_1 video {
     height: 100%;
  }



  .section_5 .custom_semi_transparent_btn{
    margin: 0 auto;
  }
  
  footer {
    grid-template-rows: repeat(4, 1fr);
  }

  footer div {
    grid-column: 1/12 !important;
  }

  footer div img {
    margin: 10px 0;
  }
  .d_none {
    display: none !important;
  }

  

  .section_1 h2 {
    font-size: 30px;
  }

  .section_1 .custom_semi_transparent_btn {
    margin: 0% !important;
  }

  .section_2 h1 {
    font-size: 35px;
  }

  .section_2 .sr {
    margin: 0 auto;
  }

  .section_2 .rounded_borders {
     border-radius: 10px !important;
  }

  

  .section_2 .service_container:hover {
    transform: scale(1);
  }

   footer div:nth-child(1) {
  grid-column: 2/6;
  grid-row: 1/2;
}

footer div:nth-child(2) {
  grid-column: 8/-1;
  grid-row: 2/3;
}

footer div:nth-child(3) {
  grid-column: 2/6;
}

footer div:nth-child(4) {
    grid-column: 8/-1;
  }

  
}


@media(max-width: 785px) {



  .inner_content {
    grid-template-columns: 1fr !important;
    grid-template-rows: 100px 100px !important;
  }

  .section_2 .row > .col-md-4 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }


  .custom_nav {
    z-index: 999;
  }

  .custom_nav li.active_item::after {
    background: none;
  }

  .inner_content .left_content {
    width:;
  }
  
  .inner_content .right_content{
   display: none !important;
  }

  .work_part,
  .rand_work .top_bar,
  .right_profile_content > div:nth-child(1)  {
    flex-direction: column !important;
  }

  .rand_work .top_bar h4 {
    font-size: 1rem !important; 
  }



.right_profile_content > a {
  display: block;
  text-align: center;
}

 .right_profile_content a + div.align-items-center,
  .right_profile_content  div.align-items-center + div.align-items-center 
    {
  justify-content: center !important;
 } 

 .rand_work .top_bar + h6,
 .rand_work .top_bar + h6 + h6 {
  display: block;
  margin: 10px 0;
  text-align: center;
 }

 .custom_heading_primary {
  font-size: 1.5rem;
 }

 .heading_tertiary {
  font-size: 1.2rem;
 }

 .heading_tertiary_sub {
  font-size: 1.1rem !important;
  font-weight: bolder;
  margin: 20px 0;
 }

 .custom_heading_primary {
  font-size: 1.5rem !important;
 }

}



